body{
    padding: 10px;
    font-family: Oswald;
}

#app{
    width: 50%;
    margin: auto;
    border: 2px solid black;
    padding: 10px;
}

.content{
    display: block;
}

.content input[type='number']{
    width: 80%;
    
}